* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pass-container {
    text-align: center;
    margin-top: 20vh;
    position: relative;
    line-height: 50px;
}

.pass {
    
    padding: 1rem 8rem;
    display: inline-block;
}

#len {
    width: 60px;
}